.accordeon {
    display: flex;
    flex-direction: column;

    &__item {
        width: 100%;
        margin-bottom: 2px;
    }
    &__question {
        display: block;
        padding: 11px 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 100;

        background-color: lighten($secondary-color, 40%);
        border-radius: 5px;
        line-height: 1;
        color: #333;
        box-shadow: 0 1px 2px #00000053;
    }
    &__answer {
        display: none;
    }
}
